parameters:
	ignoreErrors:
		-
			message: "#^Method BrainAppeal\\\\CampusEventsConnector\\\\Domain\\\\Model\\\\Event\\:\\:getTimeRanges\\(\\) should return TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage\\<BrainAppeal\\\\CampusEventsConnector\\\\Domain\\\\Model\\\\TimeRange\\> but returns TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage\\<object\\>\\.$#"
			count: 1
			path: ../Classes/Domain/Model/Event.php
